@model IEnumerable<MVCProj.Models.Pdf>

@{
    ViewBag.Title = "HPD Files";


}


<script>

    document.addEventListener('contextmenu', event => event.preventDefault());
</script>

<h2>@ViewBag.Title</h2>
<h3><strong>@ViewBag.Message</strong></h3>

<div>
    @using (Html.BeginForm("Leo", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {
        <table>
            <tr>
                <td>
                    <input type="file" name="postedFile" accept="application/pdf" />
                </td>
                <td>
                    <input type="submit" id="btnUpload" value="Upload" />
                </td>
            </tr>

        </table>


    }

</div>

@using (Html.BeginForm("DownloadFile", "Home", FormMethod.Post))
{
    <td>
        <input type="hidden" id="hfFileId" name="FileId" />
    </td>
    <td>
        <input type="submit" id="btnDownload" value="Download" style="display:none" />
    </td>


}
<hr />




<table class="table table-hover" cellpadding="0" cellspacing="0">


    <thead>
        <tr style="text-align:center;">
            <th scope="col">File ID</th>
            <th scope="col">File Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>


    @if (Model.Count() > 0)
    {
        foreach (var file in Model)
        {


            <tbody>


                <tr scope="row" id="tblFiles">
                    <td>@file.Id</td>

                    <td>@file.Name</td>

                    <td>
                        <a class="view" href="javascript:;" data-toggle="modal" data-target=".modal" rel='@file.Id'>View</a> &nbsp; &nbsp;
                        <a href="javascript:;" onclick="DownloadFile(@file.Id)">Download</a> &nbsp; &nbsp;
                        <a href="#" onclick="">Edit</a> &nbsp; &nbsp;
                        <a href="#" onclick="">Delete</a>&nbsp; &nbsp;
                    </td>

                </tr>

            </tbody>




        }
    }
    else
    {
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
    }
</table>
<hr />

<style>

   .modal {
        background: white;
        position: absolute;
        float: left;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height:600px;
        width:max-content;
        scroll-padding-inline-start: auto;
    }
</style>

<div class="modal fade modal1" id="pdf_container" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content modal">
            <input type="button" value="Exit"/>
        </div>
    </div>

</div>

<!-- Large modal -->
@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal">Large modal</button>*@

@*<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>*@



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf_viewer.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function () {
        $("[id*=tblFiles] .view").click(function () {
            var fileId = $(this).attr("rel");
            $.ajax({
                type: "POST",
                url: "/Home/GetPDF",
                data: "{fileId: " + fileId + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    LoadPdfFromBlob(r.Data);
                }
            });
        });
    });

    var pdfjsLib = window['pdfjs-dist/build/pdf'];
    pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.worker.min.js';
    var pdfDoc = null;
    var scale = 1; //Set Scale for zooming PDF.
    var resolution = 1; //Set Resolution to Adjust PDF clarity.

    function LoadPdfFromBlob(blob) {
        //Read PDF from BLOB.
        pdfjsLib.getDocument({ data: blob }).promise.then(function (pdfDoc_) {
            pdfDoc = pdfDoc_;

            //Reference the Container DIV.
            var pdf_container = document.getElementById("pdf_container");
            pdf_container.innerHTML = "";
            pdf_container.style.display = "block";

            //Loop and render all pages.
            for (var i = 1; i <= pdfDoc.numPages; i++) {
                RenderPage(pdf_container, i);
            }
        });
    };
    function RenderPage(pdf_container, num) {
        pdfDoc.getPage(num).then(function (page) {
            //Create Canvas element and append to the Container DIV.
            var canvas = document.createElement('canvas');
            canvas.id = 'pdf-' + num;
            ctx = canvas.getContext('2d');
            pdf_container.appendChild(canvas);

            //Create and add empty DIV to add SPACE between pages.
            var spacer = document.createElement("div");
            spacer.style.height = "20px";
            pdf_container.appendChild(spacer);

            //Set the Canvas dimensions using ViewPort and Scale.
            var viewport = page.getViewport({ scale: scale });
            canvas.height = resolution * viewport.height;
            canvas.width = resolution * viewport.width;

            //Render the PDF page.
            var renderContext = {
                canvasContext: ctx,
                viewport: viewport,
                transform: [resolution, 0, 0, resolution, 0, 0]
            };

            page.render(renderContext);
        });
    };
</script>

<div id="pdf_container"></div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf_viewer.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    function DownloadFile(fileId) {
        $("#hfFileId").val(fileId);
        $("#btnDownload")[0].click();
    };
</script>


@*<table>
        <tr>
            <td>
                <input type="file" accept="application/pdf"/>
            </td>

            <td>
                <input type="submit" value="Save"  onclick="" />
            </td>

        </tr>

    </table>*@






